[Unit]
Description=Minecraft service file
After=network.target

[Service]
WorkingDirectory={{ MC_SERVICE_WORKDIR }}
Type=Simple
Restart=always
RestartSec=5
ExecStart=java -jar {{ MC_SERVICE_WORKDIR }}/server.jar

[Install]
WantedBy=multi-user.target
