[Unit]
Description=Dynamic DNS cleanup service script
DefaultDependencies=no
After=final.target

[Service]
Environment=DOMAIN="{{domain}}.leftcoast.space"
Environment=LEFT_COAST_ZONE_ID={{ZONE_ID}}
Environment=AWS_ACCESS_KEY_ID={{AWS_ACCESS_KEY_ID}}
Environment=AWS_SECRET_ACCESS_KEY={{AWS_SECRET_ACCESS_KEY}}
Environment=AWS_DEFAULT_REGION={{AWS_DEFAULT_REGION}}
Type=oneshot
User=ubuntu
ExecStart=bash /opt/ddns/cleanup.sh

[Install]
WantedBy=final.target

