[Unit]
Description=Dynamic DNS startup service script
After=network.target

[Service]
Environment=DOMAIN="{{domain}}.leftcoast.space"
Environment=LEFT_COAST_ZONE_ID={{ZONE_ID}}
Environment=AWS_ACCESS_KEY_ID={{AWS_ACCESS_KEY_ID}}
Environment=AWS_SECRET_ACCESS_KEY={{AWS_SECRET_ACCESS_KEY}}
Environment=AWS_DEFAULT_REGION={{AWS_DEFAULT_REGION}}
Type=simple
Restart=no
User=ubuntu
ExecStart=bash /opt/ddns/init.sh

[Install]
WantedBy=multi-user.target
